.mat-nav-list{
    padding-top: 0px;
    overflow: auto;
    max-height: 720px;
}

.title{
    font-weight: bold !important;
    font-size: 18px !important;
    padding-bottom: 5px !important;
}

.RD-icon{
    color:blue;
}

.RB-icon{
    color:green;
}

.HD-icon{
    color:orange;
}

.CR-icon{
    color:red;
}

.CA-icon{
    color:maroon;
}